@import url(./font.css);

/* O'zgaruvchi */
:root {
    --RR: 'Roboto-Regular';
    --RB: 'Roboto-Bold';
    --primary: rgba(50, 46, 65, 1);
    --secondary: #fff;
    --violet: rgba(84, 66, 148, 1);
    --gold: rgba(213, 115, 0, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ********************************************** header start *************************************** */

.page__header {
    background-color: var(--primary);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__link {
    color: var(--secondary);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
    padding: 23px 14px;
    transition: .3s;
}

.nav__link:hover {
    background-color: var(--secondary);
    color: var(--gold);
}


/*************************************  header end **************************************/


/***************************************** banner start  *********************************/

.banner {
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.banner__title {
    color: var(--secondary);
    font-family: var(--RB);
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
}


.banner__text {
    color: var(--secondary);
    font-family: var(--RB);
    font-size: 18px;
    line-height: 21px;
}

/***************************************** banner end  *********************************/


/****************************************** products section start  **************************/

.products {
    background-color: #EBEBEB;
}

.products__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    transform: translateY(-36px);
}

.first__item {
    grid-column: span 2;
    grid-row: span 2;
}

.content__item,
.first__item {
    padding: 15px;
    border-radius: 6px;
    background-color: var(--secondary);
}

.first__img {
    width: 100%;
}

.item__title {
    color: rgba(44, 42, 42, 1);
    font-family: var(--RB);
    font-size: 22px;
    line-height: 26px;

}


.item__text {
    color: rgba(155, 155, 155, 1);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
}

.content__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.first__item .item__title {
    align-self: flex-start;
    margin: 20px 0 10px;
}

.burger__menu {
    width: 30px;
    height: 21px;
    background-color: transparent;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.burger__menu>span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
}

/****************************************** products section end  **************************/

/* MEDIA QUERY */   

@media(max-width: 820px) {
    .page__header {
        padding-block: 4px;
    }

    .header__nav {
        display: none;
    }

    .burger__menu {
        display: flex;
    }
}

@media(max-width: 500px) {
    .banner {
        height: 450px;
        gap: 10px;
    }

    .banner__title {
        font-size: 45px;
        line-height: 100%;
    }
    
    .banner__text {
        font-size: 16px;
    }

}


@media(max-width: 425px) {
    .logo__img {
        width: 60px;
    }

    .banner {
        height: 400px;
    }
}